html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    color: #d2d2d2;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: rgb(165, 41, 41); 
    background-position: center, center;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    color: #d2d2d2;
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
    
}

h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

#game-div h1 {
    margin-bottom: 10px;
}

#game-stats {
    color: #ffffff;
    border: #A96B2A solid 1px;
    border-radius: 10px;
    width: 200px;
    margin: 20px;
    padding: 10px;
    background-color: #C37F37;
}

#game-div {
    background-color: #2D4F23;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

#progress p {
    font-size: 2em;
    margin: 10px 0px;
}


